<div class="min-h-screen overflow-visible w-full bg-white">
    <div class="text-end mr-5 py-6 w-full border border-b-2">
        <nav>
            <a href="#" class="text-[#37474F] p-2 text-lg tracking-wide">All Employees</a>
            <a href="#" class="text-[#37474F] p-2 text-lg tracking-wide">Feedbacks</a>
            <a href="#" class="text-[#37474F] p-2 text-lg tracking-wide">Assign Employee</a>
        </nav>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-content-around gap-8 max-w-5xl mx-auto py-10">
        <% for (let employee in employees) { %>
        <div class="bg-[#f8fafb] rounded-xl p-2">
            <div class="flex justify-between p-2">
                <div>
                    <div class="w-4 h-4 border border-gray-400 rounded-sm bg-white shadow-lg"></div>
                </div>
                <div>
                    <img src="/img/logo.png" class="mx-auto w-20 h-20 rounded-full object-top bg-pink-100 p-2"  alt="employee-name">
                    <div class="font-medium text-center">
                        <p><%= employees[employee].username %></p>
                        <p class="text-gray-500 font-normal">Project Manager</p>
                    </div>
                </div>
                <div>
                    <button class="px-2 py-1 rounded-lg border border-black">Add</button>
                    <!-- <i class="fa-solid fa-ellipsis text-lg"></i> -->
                </div>
            </div>
            <div class="bg-white rounded-xl my-2 px-3 mx-3">
                <div class="flex justify-between items-center">
                    <div class="font-medium p-2">
                        <p class="text-gray-500 font-normal">Employee ID</p>
                        <p>ID: <%= employees[employee].empid %></p>
                    </div>
                    <div class="font-medium p-2">
                        <p class="text-gray-500 font-normal">Department</p>
                        <p>IT & Engineering</p>
                    </div>
                </div>
                <div class="font-medium px-2">
                    <p><i class="fa fa-envelope mr-1"></i> <span class="text-gray-500 font-normal">email@email.com</span></p>
                    <p></p>
                </div>
                <div class="font-medium pb-3 px-2">
                    <p><i class="fa-solid fa-phone-volume mr-1"></i> <span class="text-gray-500 font-normal">989785465</span></p>
                </div>
            </div>
        </div>
       <% } %>
    </div>
</div>