<div class="min-h-screen overflow-visible w-full bg-white">
    <div class="text-end mr-5 py-6 w-full border border-b-2">
        <nav>
            <a href="#" class="text-[#37474F] p-2 text-lg tracking-wide">All Employees</a>
            <a href="#" class="text-[#37474F] p-2 text-lg tracking-wide">Enrolled For Feedback</a>
            <a href="#" class="text-[#37474F] p-2 text-lg tracking-wide">Assign Employee</a>
        </nav>
    </div>

    <div class="max-w-7xl mx-auto py-5">
        <table class="table-auto border w-full rounded-lg">
            <thead>
              <tr class="border text-left">
                <th class="p-2 ">Employee</th>
                <th class="p-2 ">Reviews</th>
                <th class="p-2 ">Year</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border">
                <td class="p-3">The Sliding Mr. Bones </td>
                <td class="p-3">Malcolm Lockyer</td>
                <td class="p-3">1961</td>
                <td class="p-3 text-center"><i class="fa fa-ellipsis"></i></td>
              </tr>
              <tr class="border">
                <td class="p-3">Witchy Woman</td>
                <td class="p-3">The Eagles</td>
                <td class="p-3">1972</td>
                <td class="p-3 text-center"><i class="fa fa-ellipsis"></i></td>
              </tr>
              <tr class="border">
                <td class="p-3">Shining Star</td>
                <td class="p-3">Earth, Wind, and Fire</td>
                <td class="p-3">1975</td>
                <td class="p-3 text-center"><i class="fa fa-ellipsis"></i></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>