<div class="bg-black h-screen pt-16">
<div class="p-6 max-w-5xl mx-auto bg-white rounded-md">
    <div class="py-5">
        <p class="text-xl"><i class="fa-regular fa-comment-dots mr-1"></i>Feedback Form</p>
    </div>
    <form>
        <div class="mb-5">
            <select name="" id="" class="p-2 w-full rounded-lg border border-[#37474f50]">
                <option value="">Employee Name</option>
                <option value="">Employee Name</option>
                <option value="">Employee Name</option>
                <option value="">Employee Name</option>
            </select>
            <!-- <input type="email" class="p-2 w-full rounded-lg border border-[#37474f50]" placeholder="Employee Id"> -->
        </div>
        <div class="mb-3">
            <textarea class="p-2 w-full rounded-lg border border-[#37474f50]" rows="5" placeholder="Write a review..."></textarea>
        </div>
        <div class="mt-5">
            <input type="sumit" class="p-2 rounded-lg text-white bg-[#37474F] text-center font-medium shadow-lg shadow-[#3a3a3a7c]" value="Submit Feedback">
        </div>
    </form>
</div>
</div>