<div class="bg-black h-screen pt-16">
    <div class="p-6 max-w-5xl mx-auto bg-white rounded-md">
        <div class="py-5">
            <p class="text-xl"><i class="fa-solid fa-id-card mr-1"></i>Regsiter For Feedback</p>
        </div>
        <form>
            <div class="mb-5">
                <input type="text" class="p-2 w-full rounded-lg border border-[#37474f50]" placeholder="Employee Id">
            </div>
            <div class="mb-3">
                <textarea class="p-2 w-full rounded-lg border border-[#37474f50]" rows="5" placeholder="Write a review..."></textarea>
            </div>
            <div class="mb-5">
                <label for="profile">Upload Profile</label>
                <input type="file" class="p-2 w-full rounded-lg border border-[#37474f50]" placeholder="Employee Id">
            </div>
            <div class="mt-5">
                <input type="sumit" class="p-2 rounded-lg text-white bg-[#37474F] text-center font-medium shadow-lg shadow-[#3a3a3a7c]" value="Send Request">
            </div>
        </form>
    </div>
    </div>